@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

:root{
  --color-light: #F806CC;
  --color-light2: #A91079;
  --color-dark2: #570A57;
  --color-dark: #2E0249;
}

.wma-btn{
  display: inline-block;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  padding: 10px 30px;
  outline: none;
  color: white;
  font-size: 1.3rem;
  margin: 3px;
  transition: .5s;
  cursor: pointer;
  min-width: 200px;
  text-align: center;
}

.wma-btn-sm{
  border-radius: 5px;
  padding: 5px 10px;
  font-size: .8rem;
  margin: 3px;
  min-width: inherit;

}

.wma-btn:hover, .wma-btn:focus{
  opacity: .8;
}
.wma-btn:disabled{
  opacity: .2;
  cursor: not-allowed;
}


.wma-btn-light{
  background-color: var(--color-light);
}

.wma-btn-light2{
  background-color: var(--color-light2);
}
.wma-btn-dark2{
  background-color: var(--color-dark2);
}
.wma-btn-dark{
  background-color: var(--color-dark);
}

.wma-container-full{
  width: 100%;
  height: 100vh;
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wma-container-full > svg{
  color: var(--color-light);
}

.wma-color-light{
  color: var(--color-light);
}

.wma-color-white{
  color: #ddd;
}

.wma-bg-dark{
  background-color: var(--color-dark);
}

.wma-bg-dark2{
  background-color: var(--color-dark2);
}
.wma-bg-light{
  background-color: var(--color-light);
}

.wma-bg-light2{
  background-color: var(--color-light2);
}

.wma-bg-white{
  background-color: #ddd;
}

.wma-mt-20{
  margin-top: 20px;
}

.wma-my-20{
  margin-top: 20px;
  margin-bottom: 20px;
}

.input-group{
  width: 80%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input-group > label{
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 3px;
}

input{
  background-color: rgba(255, 255, 255, 0.24);
  border: var(--color-light2) solid 1px;
  padding: 8px;
  border-radius: 10px !important;
  color: #ddd;
  font-size: 17px;
}

input:focus{
  border: solid var(--color-light) 1px;
  outline: solid var(--color-light) 1px;
}

a{
  color: var(--color-light);
}

.page{
  margin-top: 60px;
  min-height: calc(100vh - 116px);
  padding-bottom: 60px;
}

.home-ballance > div{
  font-size:3.5rem;
  font-weight: bold;
  color: rgb(58, 177, 58);
}

.home-loan, .home-lend{
  font-size: 1.3rem;
}

.home-savings > div{
  font-size:3.5rem;
  font-weight: bold;
  color: rgb(13, 49, 209);
}

canvas{
  height: 300px !important;
}
